* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
}

img {
    width: 80%;
    margin-bottom: 15px;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    height: 25vh;
}

button {
    width: 60%;
    padding: 5px;
    margin: 2.5px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    transition: background 0.3s ease-in-out;
}

.btn-orange {
    background-color: #ff6600;
    border: #333 1px solid  ;
    color: #000   ;
}

.btn-orange:hover {
    background-color: #cc5500;

}

.btn-white {
    background-color: white;
    border: #333 1px solid  ;
    color: #333;
}

.btn-white:hover {
    background-color: #e0e0e0;
}

@media (min-width: 768px) {
    body::before {
      content: "Este sitio solo está disponible para móviles 📱";
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      font-size: 24px;
      font-weight: bold;
      color: #cc5500;
      z-index: 9999;
      text-align: center;
    }
}
    body * {
      display: none !important; /* Oculta el contenido en pantallas grandes */
    }

    @media (min-width: 768px) {
    body::before {
      content: "Este sitio solo está disponible para móviles 📱";
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      font-size: 24px;
      font-weight: bold;
      color: #cc5500;
      z-index: 9999;
      text-align: center;
    }
}
    body * {
      display: none !important; /* Oculta el contenido en pantallas grandes */
    }